@use 'fonts' as *;
@use 'colors' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 2em 2em;
    font-family: $Main-font;
    background-color: $Blue--blacker;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('../../../images/bg-stars.svg');
    background-repeat: no-repeat;
    
    
}

