//Primary

$Grayish__blue: hsl(237, 18%, 59%);
$Soft__red: hsl(345, 95%, 68%);

//Neutral

 $White: hsl(0, 0%, 100%);
 $Blue--dark-desat: hsl(236, 21%, 26%);
 $Blue--vdark: hsl(235, 16%, 14%);
 $Blue--blacker: hsl(234, 17%, 12%);